body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}