<!DOCTYPE html>
<html>

<head>
    <title>Symbolic Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="calculator">
            <h1>Symbolic Calculator</h1>

            <form method="POST">

                <label>Expression:</label>
                <input type="text" name="expression" required placeholder="e.g. x^2 + 3*x"><br><br>

                <label>Variable:</label>
                <input type="text" name="variable" value="x"><br><br>

                <label>Operation:</label>
                <select name="operation">
                    <option value="+">Sum</option>
                    <option value="-">Minus</option>
                    <option value="*">Multiply</option>
                    <option value="/">Divide</option>
                    <option value="derivative">Derivative</option>
                    <option value="integral">Integral</option>
                    <option value="limit">Limit</option>

                </select><br><br>

                <button type="submit">Calculate</button>

            </form>

            {% if result %}
            <h2>Result: {{ result }}</h2>
            {% endif %}
        </div>
    </div>


</body>

</html>